#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}


h1:hover {
  animation: rainbow 10s infinite;
}

img:hover {
  animation: roll 2s linear infinite;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  0% {color: red;}
  16% {color: orange;}
   33%  { color: yellow; }
    50%  { color: green; }
    66%  { color: blue; }
    83%  { color: indigo; }
    100% { color: violet; }
}

